<!DOCTYPE html>
<html lang="en">
<<%- include('./partials/head') %>
<head>
    <title>Crear Productos</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <h2>Formulario de creación de productos</h2>
        <!--Se realiza main con la finalidad de poder realizar un flexbox y poder manejar sus propiedades-->
        <form class="createProduct" action="/administrar/create" method="POST" enctype="multipart/form-data">
        <!--<form action="" method="post" class="createProduct"> -->
           <div class="controlIngresoProductos">
              <label for="">Nombre del Producto</label>
              <input 
                class="input1 <%= locals.errors && errors.nombre ? 'is-invalid' : null %>" 
                type="text" 
                name="nombre" 
                id="nombre" 
                placeholder="Ej: Vino casillero del Diablo" 
                value="<%=locals.oldData ? oldData.nombre : null %>">

              <% if (locals.errors && errors.nombre ) { %>
                
                <span style="color: yellow"><%= errors.nombre.msg %></span> 
                
              <% } %>
           </div>
            <div class="controlIngresoProductos">
                <label for="">Precio del produto:</label>
                <input 
                    class="input1 <%= locals.errors && errors.precio ? 'is-invalid' : null %>" 
                    type="number" 
                    name="precio" 
                    id="precio" 
                    placeholder="Ej: 5.400"
                    value="<%=locals.oldData ? oldData.precio : null %>">
                <% if (typeof errors != 'undefined' && typeof errors.precio != 'undefined') { %>
                    <span style="color: yellow"><%= errors.precio.msg %></span> 
                <% } %>
            </div>
            <div class="controlIngresoProductos">
                
                <label for="">Cepa:</label>
                <select class="input1" name="cepa" id="cepa" >
                    <% for (let i = 0; i < cepas.length; i++) { %> 
                        <option value="<%= cepas[i].cepa_id %>">
                         <%= cepas[i].descripcion%> 
                        </option>
                    <% } %> 
                    <% if (typeof errors != 'undefined' && typeof errors.cepa != 'undefined') { %>
                        <span style="color: yellow"><%= errors.cepa.msg %></span> 
                    <% } %>
                </select>
                
            </div>
            <div class="controlIngresoProductos">
                <label for="">Categoría:</label>
                <select class="input1" name="categoria" id="categoria" value="<%=locals.oldData ? oldData.categoria : null %>">
                    <option selected="selected" value="">  </option>
                    <option value="Espumante">Espumoso</option>
                    <option value="Blanco">Blanco</option>
                    <option value="Tinto">Tinto</option>
                    <option value="Rosado">Rosado</option>
                </select>
                <% if (typeof errors != 'undefined' && typeof errors.categoria != 'undefined') { %>
                    <span style="color: yellow"><%= errors.categoria.msg %></span> 
                <% } %> -->
            </div>
            <div class="controlIngresoProductos">
                <label for="">Agregar imagen</label>
                <input type="file" name="image" id="image">
                <% if (locals.errors && errors.image) { %>
                    <div>
                        <span style="color: yellow; font-size: 12px"><%= errors.image.msg %></span>
                    </div>
                <% } %>
            </div>
            
            <div class="controlIngresoProductos2">
                <label for="">Descripción</label>
                <textarea class="textaread" cols="90" name="descripcion" id="descripcion" rows="4" placeholder="Breve descripción"></textarea>
                <% if (typeof errors != 'undefined' && typeof errors.descripcion != 'undefined') { %>
                    <span style="color: yellow"><%= errors.descripcion.msg %></span> 
                <% } %>
            </div>
<!--
            <% if (typeof validaciones != 'undefined') {%>
                <% validaciones.forEach( (validacion) => { %> 
                    <div>
                        <strong><%= validacion.msg %></strong>
                    </div>
                <% }) %>


            <% } %>

-->

            <div class="controlIngresoProductos">
                <button type="submit" class="boton-formulario">Guardar Producto</button>
            </div>
        </form>
</body>
</html>