<!DOCTYPE html>
<html lang="en">
<<%- include('./partials/head') %>
<head>
    <title>Crear Productos</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <h2>Formulario de creación de productos</h2>
        <!--Se realiza main con la finalidad de poder realizar un flexbox y poder manejar sus propiedades-->
        <form class="createProduct" action="/productos"s method="POST" enctype="multipart/form-data">
        <!--<form action="" method="post" class="createProduct"> -->
           <div class="controlIngresoProductos">
               <label for="">Nombre del Producto</label>
               <input class="input1" type="text" name="nombre" id="nombre" placeholder="Ej: Vino casillero del Diablo">
               <% if (typeof errors != 'undefined' && typeof errors.nombre != 'undefined') { %>
                <span style="color: red"><%= errors.nombre.msg %></span> 
            <% } %>
           </div>
            <div class="controlIngresoProductos">
                <label for="">Precio del produto:</label>
                <input class="input1" type="number" name="precio" id="precio" placeholder="Ej: 5.400">
                <% if (typeof errors != 'undefined' && typeof errors.precio != 'undefined') { %>
                    <span style="color: red"><%= errors.precio.msg %></span> 
                <% } %>
            </div>
            <div class="controlIngresoProductos">
                <label for="">Cepa:</label>
                <input class="input1" type="text" name="cepa" id="cepa" placeholder="Ej: Malbec">
                <% if (typeof errors != 'undefined' && typeof errors.cepa != 'undefined') { %>
                    <span style="color: red"><%= errors.cepa.msg %></span> 
                <% } %>
            </div>
            <div class="controlIngresoProductos">
                <label for="">Categoría:</label>
                <select class="input1" name="categoria" id="categoria">
                    <option selected="selected" value="">  </option>
                    <option value="Espumante">Espumante</option>
                    <option value="Blanco">Blanco</option>
                    <option value="Tinto">Tinto</option>
                    <option value="Rosado">Rosado</option>
                </select>
                <% if (typeof errors != 'undefined' && typeof errors.categoria != 'undefined') { %>
                    <span style="color: red"><%= errors.categoria.msg %></span> 
                <% } %>
            </div>
            <div class="controlIngresoProductos">
                <label for="">Agregar imagen</label>
                <input type="file" name="image" id="image">
            </div>
            
            <div class="controlIngresoProductos2">
                <label for="">Descripción</label>
                <textarea class="textaread" cols="90" name="descripcion" id="descripcion" rows="8" placeholder="Breve descripción"></textarea>
            </div>
            <% if (typeof errors != 'undefined' && typeof errors.descripcion != 'undefined') { %>
                <span style="color: red"><%= errors.descripcion.msg %></span> 
            <% } %>
            <div class="controlIngresoProductos">
                <button type="submit" class="boton-guardarP">Guardar Producto</button>
            </div>
        </form>
</body>
</html>