<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
  <head>
    <title>Detalle Productos</title>
  </head>
  <body>
  <%- include('./partials/header') %>
    <section>
      <!--div mostrar imagen-->
      <div class="contenedor1">
        <!--contenedor1-->
        <div class="elemento1">
          <!--elemento1-->
          <img src="/images/<%= miVino.imagen%>" width="110" class="product_img">
          <i class="fas fa-truck"></i> 
    
          <h4 class="description"><%= miVino.nombre%></h4>
        </div>
        <!--fin de elemnto1-->
        <!--descripcion del producto-->
        <div class="elemento2">
          <!--elemento 2-->
          <h3>Producto</h3>
          <br>
          <br>
          <p><%= miVino.nombre%> <br>
          <P><%= miVino.descripcion%></P> <br>
          <p><%= miVino.cepa_id%></p>
          <p><%= miVino.categoria%></p>
          <p><%= miVino.precio%></p>
          
          <p></p>
          <br>
          <br>
        </div>
      </div>

      <p>hola</p>

    </section>
    <%- include('partials/footer') %>
  </body>

