<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<head>
    <title>Editar Usuario</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <h2>Formulario de edición de Usuarios</h2>
        
        <form  class= "createProduct" id = "formulario"  action="/admUsuarios/edit/<%= usuarioEditar.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        
           <div class="controlIngresoProductos" id="grupo__nombres">
                <label for="" class="formulario__label">Nombre</label>
                <div>
                    <input class="input1 <%= locals.errors && errors.nombres ? 'is-invalid' : null %>" 
                           type="text" 
                           name="nombres" 
                           id="nombres" 
                           placeholder="Ej: Jorge" 
                           value="<%= usuarioEditar.nombres%>">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                    <% if (locals.errors && errors.nombres) { %>
                        <span style="color: yellow; font-size: 12px"><%= errors.nombres.msg %></span> 
                    <% } %>
                <p class="formulario__input-error">Minimo 5 caracteres</p>
           </div>

           <div class="controlIngresoProductos" id="grupo__apellidos">
                <label for="" class="formulario__label">Apellido</label>
                <div>
                    <input class="input1 <%= locals.errors && errors.apellidos ? 'is-invalid' : null %>" 
                           type="text" 
                           name="apellidos" 
                           id="apellidos" 
                           placeholder="Ej: Lopez" 
                           value="<%= usuarioEditar.apellidos%>">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <% if (locals.errors && errors.apellidos ) { %>
                    <span style="color: yellow"><%= errors.apellidos.msg %></span> 
                <% } %>
                <p class="formulario__input-error">Minimo 5 caracteres</p>
            </div>

            <div class="controlIngresoProductos" id="grupo__telefono">
                <label for="" class="formulario__label">Teléfono</label>
                <div>
                    <input class="input1 <%= locals.errors && errors.telefono ? 'is-invalid' : null %>" 
                           type="text" 
                           name="telefono" 
                           id="telefono" 
                           placeholder="261555777" 
                           value="<%= usuarioEditar.telefono%>">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <% if (locals.errors && errors.telefono ) { %>
                    <span style="color: yellow"><%= errors.telefono.msg %></span> 
                <% } %>
                <p class="formulario__input-error">Minimo 6 números</p>
            </div>

            <div class="controlIngresoProductos" id="grupo__email" >
                <label for="" class="formulario__label">E-mail</label>
                <div>
                    <input class="input1 <%= locals.errors && errors.email ? 'is-invalid' : null %>" 
                           type="email" 
                           name="email" 
                           id="email" 
                           placeholder="Ej: aaa@bbb.ccc" 
                           value="<%= usuarioEditar.email%>" readonly>
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <% if (locals.errors && errors.email ) { %>
                    <span style="color: yellow"><%= errors.email.msg %></span> 
                <% } %>
                <p class="formulario__input-error">Debe ser un mail</p>
            </div>

            <div class="controlIngresoProductos" id="grupo__perfil">
                <label for="" class="formulario__label">perfil:</label>
                <select class="input1" 
                        name="perfil" 
                        id="perfil">
                    <% for (let i=0; i < perfil.length; i++) { %>
                        <option value="<%= perfil[i].perfil_id %>" <%= usuarioEditar.perfil_id == perfil[i].perfil_id ? "selected" : null %>><%= perfil[i].descripcion%></option>
                        
                    <% } %>
                    <% if (typeof errors !='undefined' && typeof errors.perfil !='undefined' ) { %>
                        <span style="color: red"><%= errors.perfil.msg %></span>
                    <% } %>
                </select>
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>

            <div class="controlIngresoProductos" id="grupo__fechaNac">
                <label for="" class="formulario__label">Fecha Nacimiento</label>
                <div>
                    <input class="input1 <%= locals.errors && errors.fechaNac ? 'is-invalid' : null %>" 
                        type="date" 
                        name="fechaNac" 
                        id="fechaNac" 
                        placeholder="Ej: 01/01/2000" 
                        value="<%= usuarioEditar.fechaNac%>">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div> 
                <% if (locals.errors && errors.fechaNac ) { %>
                    <span style="color: yellow"><%= errors.fechaNac.msg %></span> 
                <% } %>
                <p class="formulario__input-error">Debe ser un fecha valida</p>
            </div>
            
            <div class="controlIngresoProductos">
                
                <figure class="form-group">
                    <img class="w-100e" src="/images/users/<%= usuarioEditar.avatar%>"  style="border-radius:90%">
                </figure>
                   <label style="color: white" for="">Cambiar Avatar</label>
                   <input type="file" id="avatar" name="avatar" >
            </div>
          <!--
            <div class="controlIngresoProductos">
                <form action="" class = "form-btnActualizar">
                    <button type="submit" class="boton-formulario btnActualizar">Actualizar</button>
                </form>
                <button href="/admUsuarios"  class="boton-formulario">Volver</button>
                
            </div> -->
            <div class="controlIngresoProductos">
                <button type="submit" class="boton-formulario">Guardar Producto</button>
                <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado con exito</p>
            </div>
            <div class="controlIngresoProductos">
                <a href="/admUsuarios" class="boton-formulario volverVistaP btn">Volver</a>
            </div>

        </form>
        
        <script src="/js/editUser.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
        
</body> 
</html>