<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main class="body-produts">
        <section class="visita">
            <h3>ADMINISTRADOR DE PRODUCTOS</h3>
        </section>
        <article class="col-12">
            <a href="/administrar/create">
                <ion-icon name="add-circle-outline"></ion-icon>Agregar
            </a>
        </article>
        <div class="menu-productos">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Ver</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Borrar</th>
                    </tr>
                </thead>

                <tbody>
                    <% productos.forEach(producto => { %>
                      <tr>
                        <td><%= producto.id%> </td>
                        <td><%= producto.nombre%> </td>
                        <td><a href="/administrar/detail/<%= producto.id%> "> <ion-icon name="eye-outline"></ion-icon></a></td>
                        <td><a href="/administrar/edit/<%= producto.id%> "> <ion-icon name="pencil-outline"></ion-icon></a></td>
                        <td><a href="/administrar/delete/<%= producto.id%> "><ion-icon name="trash-outline"></ion-icon></a></td>
                      </tr>
                    <% }); %>
                    
                </tbody>
            </table>



        </div>

    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    </main>
</body>
</html>