<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<head>
    
</head>
<body>
    <%- include('partials/header') %>
    <main class="body-produts">
        <section class="visita">
            <h3 class="tituloListP">ADMINISTRADOR DE PRODUCTOS</h3> 
        </section>
        <article class="col-12">
            
            <a href="/administrar/create" class="btn btn-outline-primary">Nuevo Producto</a>
        </article>
        <article class="col-6a">
            <form class="formSearcLp" action="/administrar/search_results" method="GET">
                <input type="search" name="search">
                <button class="btn btn-primary" type="submit">
                    <ion-icon name="search-outline"></ion-icon>
                </button>
            </form>
        </article>
    <section>
      
        <!-- <div class="formulario-creacion"> 
        <form class="createProduct" action="/administrar/create" s method="POST" enctype="multipart/form-data">
            <div class="controlIngresoProductos">
                <label for="">Nombre del Producto</label>
                <input class="input1" type="text" name="nombre" id="nombre" placeholder="Ej: Vino casillero del Diablo">
                <% if (typeof errors !='undefined' && typeof errors.nombre !='undefined' ) { %>
                    <span style="color: red">
                        <%= errors.nombre.msg %>
                    </span>
                    <% } %>
            </div>
            <div class="controlIngresoProductos">
                <label for="">Precio del produto:</label>
                <input class="input1" type="number" name="precio" id="precio" placeholder="Ej: 5.400">
                <% if (typeof errors !='undefined' && typeof errors.precio !='undefined' ) { %>
                    <span style="color: red">
                        <%= errors.precio.msg %>
                    </span>
                    <% } %>
            </div>
            <div class="controlIngresoProductos">
                <label for="">Cepa:</label>
                <input class="input1" type="text" name="cepa" id="cepa" placeholder="Ej: Malbec">
                <% if (typeof errors !='undefined' && typeof errors.cepa !='undefined' ) { %>
                    <span style="color: red">
                        <%= errors.cepa.msg %>
                    </span>
                    <% } %>
            </div>
            <div class="controlIngresoProductos">
                <label for="">Categoría:</label>
                <select class="input1" name="categoria" id="categoria">
                    <option selected="selected" value=""> </option>
                    <option value="Espumante">Espumoso</option>
                    <option value="Blanco">Blanco</option>
                    <option value="Tinto">Tinto</option>
                    <option value="Rosado">Rosado</option>
                </select>
                <% if (typeof errors != 'undefined' && typeof errors.categoria != 'undefined') { %>
                            <span style="color: red"><%= errors.categoria.msg %></span> 
                        <% } %> 
            </div>
            <div class="controlIngresoProductos">
                <label for="">Agregar imagen</label>
                <input type="file" name="image" id="image">
            </div>
        
            <div class="controlIngresoProductos2">
                <label for="">Descripción</label>
                <textarea class="textaread" cols="90" name="descripcion" id="descripcion" rows="2"
                    placeholder="Breve descripción"></textarea>
            </div>
            <% if (typeof errors !='undefined' && typeof errors.descripcion !='undefined' ) { %>
                <span style="color: red">
                    <%= errors.descripcion.msg %>
                </span>
                <% } %>
                    <div class="controlIngresoProductos">
                        <button type="submit" class="boton-formulario">Guardar Producto</button>
                    </div>
        </form> -->

    </section>
    
    <section class= "CRUD">
        <div class="menu-productos">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Ver/Editar/Eliminar</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <% productos.forEach(producto=> { %>
                        <tr class="table-active">
                           <!-- <th scope="row">Active</th> -->
                            <td><%= producto.produc_id%></td>
                            <td><%= producto.nombre%></td>
                            <td>
                                <a href="/administrar/detail/<%= producto.produc_id%> " class="btn btn-info">Detalle</a>
                                <a href="/administrar/edit/<%= producto.produc_id%> " class="btn btn-success">Editar</a>
                                <form action="/administrar/delete/<%= producto.produc_id%>" class="d-inline form-delete">
                                    <button class="btn btn-danger btnEliminarList" type="submit">Eliminar</button>
                                </form>
                            <!--    <a href="/administrar/delete/<%= producto.produc_id%> "class="btn btn-danger">Eliminar</a> -->
                            </td>
                            
                      </tr>
                    <% }); %>
                </tbody>
            </table>

        </div>
    </section>
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
        <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="js/listProduct.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </main>
</body>
</html>