<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<head>
    <title>Registro</title>
</head>
<body>
   
    <%- include('./partials/header') %>
    <main>  <!--Se realiza main con la finanlidad de poder realizar un flexbox y poder manejar sus propiedades-->
    <!--Agregado por Paco-->
    <!--Agregado por Paco-->
    <!--Agregado por Paco-->
    <section class="errores">
        <ul></ul>
    </section>
    
        <form action="/user" method="POST" class="create-user" enctype="multipart/form-data">
            <div class="control-formulario">
                <p>
                    <i class="far fa-question-circle"></i><b> Ya tienes cuenta? </b><a href="/user/login">!Inicie sesión¡</a>
                </p>
            </div>
            <h3 class="titulo-register">
                Regístrate
            </h3>
            <div  class="control-formulario">
                <input 
                    type="text" 
                    id="nombres"
                    name="nombres" 
                    placeholder="Nombres" 
                    class="control <%= locals.errors && errors.nombres ? 'is-invalid' : null %>"
                    value="<%=locals.oldData ? oldData.nombres : null %>"
                >
                    <% if (locals.errors && errors.nombres) { %>
                    <div>
                        <span style="color: yellow; font-size: 12px"><%= errors.nombres.msg %></span> 
                    </div>
                    <% } %>
                    
            </div>
            <div class="control-formulario">
                <input 
                    type="text" 
                    id="apellidos"
                    name="apellidos" 
                    placeholder="Apellidos" 
                    class="control <%= locals.errors && errors.apellidos ? 'is-invalid' : null %>"
                    value="<%=locals.oldData ? oldData.apellidos : null %>"
                    >
                    <% if (locals.errors && errors.apellidos) { %>
                        <div>
                            <span style="color: yellow; font-size: 12px"><%= errors.apellidos.msg %></span> 
                        </div>
                    <% } %>
            </div>
            <div  class="control-formulario">
                <input 
                 type="email" 
                 id="email"
                 name="email" 
                 placeholder="E-mail"
                 class="control <%= locals.errors && errors.email? 'is-invalid' : null %>"
                 value="<%=locals.oldData ? oldData.email : null %>"
                 >
                 <% if (locals.errors && errors.email) { %>
                     <div>
                         <span style="color: yellow; font-size: 12px"><%= errors.email.msg %></span> 
                     </div>
                 <% } %>
            </div>
            <div class="control-formulario">
                <input 
                 type="date" 
                 id="fechaNac"
                 name="fechaNacimiento" 
                 placeholder="Fecha Nacimiento" 
                 class="control <%= locals.errors && errors.fechaNacimiento ? 'is-invalid' : null %>"
                 value="<%=locals.oldData ? oldData.fechaNacimiento: null %>"
                >
                 <% if (locals.errors && errors.fechaNacimiento) { %>
                    <div>
                        <span style="color: yellow; font-size: 12px"><%= errors.fechaNacimiento.msg %></span> 
                    </div>
                <% } %>
            </div>
            <div class="control-formulario">
                <input 
                  type="text" 
                  name="telefono" 
                  placeholder="Telefono" 
                  class="control <%= locals.errors && errors.telefono? 'is-invalid' : null %>"
                  value="<%=locals.oldData ? oldData.telefono: null %>"
                >
                 <% if (locals.errors && errors.telefono) { %>
                    <div>
                        <span style="color: yellow; font-size: 12px"><%= errors.telefono.msg %></span> 
                    </div>
                <% } %>
            </div>
            <div class="control-formulario">
                <label style="color: white" for="">Agregar imagen</label>
                <input type="file" id="imagen" name="image">
                 <% if (locals.errors && errors.image) { %>
                    <div>
                        <span style="color: yellow; font-size: 12px"><%= errors.image.msg %></span> 
                    </div>
                <% } %>
            </div>
            <div  class="control-formulario">
                <input type="password" id="password" name="password" placeholder="Password" class="control"><br>
                <% if (typeof errors != 'undefined' && typeof errors.password != 'undefined') { %>
                    <span style="color: yellow; font-size: 12px"><%= errors.password.msg %></span> 
                <% } %>
            </div>
            <div  class="control-formulario">
                <input type="password" name="cpassword" placeholder="Confirmar Password" class="control"><br>
                <% if (typeof errors != 'undefined' && typeof errors.cpassword != 'undefined') { %>
                    <span style="color: yellow; font-size: 12px"><%= errors.cpassword.msg %></span> 
                <% } %>
            </div>
            <div class="control-formulario">
                <button type="submit" class="boton-formulario">Guardar</button>
            </div>
            
        </form>
    </main>
    
       <%- include('./partials/footer') %>
       <script src="/js/register.js"></script>  
</body>
</html>